---
import Container from "../Container.astro";
import ResponsiveImage from "../ResponsiveImage.astro";

const { hero } = Astro.props;
---

<div id="about-hero">
  <Container>
    <div class="grid md:grid-cols-2 gap-12 items-center">
      <div class="text-center md:text-left">
        <h1 class="text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary-gradient-stop dark:from-primary-dark dark:to-secondary-gradient-stop-dark">{hero.title}</h1>
        <p class="mt-4 text-xl lg:mx-auto lg: text-text-strong dark:text-text-muted-dark">{hero.description}</p>
      </div>
      <div>
        <ResponsiveImage
            basePath="sanahujadev"
            imageName="fotoperfil"
            fallbackFormat="jpeg"
            alt="SanahujaDev"
            sizes="(max-width: 768px) 100vw, 50vw"
            width="720"
            height="720"
            loading="eager"
            fetchpriority="high"
            class="rounded-3xl shadow-lg w-full max-w-lg mx-auto"
        />
      </div>
    </div>
  </Container>
</div>
