---
import { AstroFont } from 'astro-font';
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import "./../global.css"

import es from "./../i18n/es.json";
import en from "./../i18n/en.json";

const { currentLocale } = Astro;
const t = currentLocale === "es" ? es : en;
---

<!DOCTYPE html>
<html lang={currentLocale}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={t.meta.description} />
        <title>{t.meta.title}</title>

        <AstroFont
            config={[
                {
                    src: [],
                    name: "Urbanist",
                    preload: true,
                    display: "swap",
                    selector: "html",
                    fallback: "sans-serif",
                    googleFontsURL: 'https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap',
                },
            ]}
        />
    </head>
    <body class="bg-white dark:bg-gray-950">
        <AppHeader />
        <slot />
        <AppFooter />
    </body>
</html>
